.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 19px;
  text-align: left;
  letter-spacing: -1px;
  /*Helvetica, Sans-Serif;*/
  /*font-family: "Times New Roman", Times, serif;*/
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 13px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 20px;
  /*letter-spacing: -1.75px;*/
  line-height: 1;
  font-weight:150;
  text-align: left;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
  text-align: left;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
  text-align: left;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:auto;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }


/*table*/


/*table{
    border-collapse: collapse;
    border-spacing: 20px;
    border:1px solid #111;
    width: 100%;
    padding-left: 10px;
}

th{
    border:1px solid #111;
     padding-left: 10px;
}

td{
   padding-left: 10px;
    border:1px solid #111;
}
*/

/*google custom search*/
/*.gsc-control-cse .gsc-table-result {
  font-family : inherit;
  border: 0px;
}

.gsc-control-cse .gsc-input-box {
  border: 0px;
  height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
  box-sizing  : content-box;
  line-height : normal;
  margin-top  : 0px;
  border: 0px;
}*/

.gsc-control-cse .gsc-table-result {
  font-family : inherit;
  /*border: 0px;*/
}

.gsc-control-cse .gsc-input-box {
  height : inherit;
  /*border: 0px;*/
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
  /*border: 0px;*/
  box-sizing  : content-box;
  line-height : normal;
  margin-top  : 0px;
}



table{
    border-collapse: collapse;
    border-spacing: 20px;
    border:1px solid #111;
    width: 100%;
    padding-left: 10px;
}

th{
    border:1px solid #111;
     padding-left: 10px;
}

td{
   padding-left: 10px;
    border:1px solid #111;
}

/*For google search box*/
#top-widget td, tr, table{
border: none;

}

/*ul.nav li a, ul.nav li a:visited {
    color: red !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: red !important;
}

ul.nav li.active a {
    color: red !important;
}*/

/*.pagination{
  background-color: #204081;
  color: #fff;
}*/

.mypagination{
  border: 1px solid #204081; 
  padding: 5px 15px 5px 15px;
}

.mypaginationactive{
  padding:5px 15px 5px 15px;
  background-color: #204081;
  /*background-color: red;*/
  border: 1px solid #204081; 
  color: #fff;
}
.myhiddenpagination{
  padding: 5px 15px 5px 15px;
  border: 1px solid #fff;
  color: #fff;
}