_drafts/
_site/
*/_site
assets/latex/*.tex
!assets/latex/iris1.jpg
!assets/latex/iris2.jpg
!assets/latex/iris3.jpg
!assets/latex/book.pdf
#assets/data/INRIAPerson
assets/data
assets/21_kernelsvm/ksvm.mov