---
layout: default
---

<div class="home">
{% include share-page-head.html %}  
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}
        {% include stat_counter_index.html %}
        </span>
        <a style = "text-align: left; color: #485899; font-size: 27px" class="post-link" href="{{ post.url | prepend: site.baseurl }}" > {{ post.title }}</a>
        <br>
        {% if post.tags %}    
        <!-- |      -->
        <ul class="tags">
          {% for tag in post.tags %}
            <!-- <li> -->
            <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
            <!-- </li> -->
          {% endfor %}
          <!-- </ul> -->
        {% endif %}
        {{ post.excerpt }}
        <br>
        <hr>
      </li>
    {% endfor %}
  </ul>

</div>
