---
layout: post
comments: true 
scripts:
 - index
---


{% include pagination.html %}
<hr> 
<ul class = "posts">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class = "row">
        <div class = "col-lg-3 col-md-3 hidden-xs hidden-sm">
            <a href = "{{ post.url | prepend: site.baseurl }}""><img src = "{{ post.img }}" style= "max-width: 100%" > </a>
        </div>

        <div class = "col-lg-8 col-md-8 hidden-xs hidden-sm">
            <a class="post-link" style = "text-align: left; color: #204081; font-weight: bold"  href="{{ post.url | prepend: site.baseurl }}" > {{ post.title }}</a>
            <span class = "post-date" style="float: right; ">{{ post.date | date: "%b %-d, %Y" }}
            </span>
            <br>
            {% if post.tags %}    
                <ul class = "tags">
                    {% for tag in post.tags %}
                        <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ post.summary }} <a href = "{{ post.url | prepend: site.baseurl }}" sylte = "color: #204081;">Xem tiếp &raquo; </a>
        </div>
    </div>
    
    <div class = "row">
        <div class = "col-xs-12 col-sm-12 hidden-md hidden-lg">
            <a class="post-link" style = "text-align: left; color: #204081; font-weight: bold"  href="{{ post.url | prepend: site.baseurl }}" > {{ post.title }}</a>
            <span class = "post-date" style="float: right; ">{{ post.date | date: "%b %-d, %Y" }}
            </span>
            <br>
            {% if post.tags %}    
                <ul class = "tags">
                    {% for tag in post.tags %}
                        <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ post.summary }} <a href = "{{ post.url | prepend: site.baseurl }}" sylte = "color: #204081;">Xem tiếp&raquo; </a>
        </div>
    </div>
    <hr>
{% endfor %}
</ul>
<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
 -->




{% include pagination.html %}
<hr> 
<div style="text-align:right">
Total visits: 
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11312058; 
var sc_invisible=0; 
var sc_security="462ef68b"; 
var sc_text=2; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web statistics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11312058/0/462ef68b/0/" alt="web
statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
</div>