<div class="share-page-head">
    <!-- Facebook -->
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src = "/assets/images/facebook.png" width="40"></a>

    <!-- Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" width="40" ><img src = "/assets/images/twitter.png" width="40"></a>

    <!-- Google -->
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src = "/assets/images/google.png" width="40"></a>

    
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}" target="_blank">
        <img src="/assets/images/linkedin.png" alt="LinkedIn" width="40"/>
    </a>

    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ site.url }}{{ page.url }}">
        <img src="/assets/images/email.png" title="Email this" width="40"/>
    </a>
    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="/assets/images/print.png" title="Print this post" width="40"/>
    </a>
    <!-- <br> --> 
    <!-- <b>Follow us:</b> 
    <a href = "https://www.facebook.com/machinelearningbasicvn/" target="_blank" title="Follow us"><img src = "https://simplesharebuttons.com/images/somacro/facebook.png" width="40"></a> -->
</div>