{% if post.sc_project %}
   <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project={{post.sc_project}}; 
var sc_invisible=0; 
var sc_security="{{post.sc_security}}"; 
var sc_text=2; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("(<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'> </"+"script>visits)");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/{{post.sc_project}}/0/{{post.sc_security}}/0/" alt="web
analytics"></a> </div></noscript>
<!-- End of StatCounter Code for Default Guide -->
{% endif %}