 <!-- <br> -->
 <nav class="navbar navbar-inverse" style="background-color: #074B80">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/"><span style = "color: #fff">Machine Learning cơ bản</span></a>
        <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group" align="right">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">
                <span></span>
            </button>
        </form> -->
        


    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/about/" ><span style = "color: #fff"> About</span></a></li>
        <li><a href="/index/"><span style = "color: #fff">Index</span></a></li>
        <li><a href="/tags/"><span style = "color: #fff">Tags</span></a></li>
        <li><a href="/categories/"><span style = "color: #fff">Categories</span></a></li>
        <li><a href="/archive/"><span style = "color: #fff">Archive</span></a></li>
        <li><a href="/math/"><span style = "color: #fff">Math</span></a></li>
        <!-- <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScq3GkxM1I2fDevR7gth-O9QqxM7grf4AFc0WT1hFORv4flaw/viewform"><span style = "color: #fff">Survey</span></a></li> -->
        <li><a href="/copyrights/"><span style = "color: #fff">Copyrights</span></a></li>
        <!-- <li><a href="/faqs/"><span style = "color: #fff">FAQs</span></a></li> -->
        <li><a href="/ebook/"><span style = "color: #fff">ebook</span></a></li>
        <li><a href="/search/"><span style = "color: #fff">Search</span></a></li>
        <!-- <li><a href="https://github.com/tiepvupsu/tiepvupsu.github.io/blob/master/assets/latex/book.pdf"><span style = "color: #fff">Book</span></a></li> -->
        <!-- <li><a href="https://www.facebook.com/groups/257768141347267/"><span style = "color: #fff">Forum</span></a></li> -->
        <!-- <li><a href="/subscribe/">Subscribe</a></li> -->

        <li> 
      </ul>
    </div>
  </div>
</nav>