<!-- <ul class= "nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/index/">Index</a></li>
    <li><a href="/tags/">Tags</a></li>
    <li><a href="/categories/">Categories</a></li>
    <li><a href="/archive/">Archive</a></li>
    <li><a href="/math/">Math</a></li>
    <li><a href="/subscribe/">Subscribe</a></li>
  </ul><br>
  <br>
 -->

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Machine Learning cơ bản</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/about/">About</a></li>
            <li><a href="/index/">Index</a></li>
            <li><a href="/tags/">Tags</a></li>
            <li><a href="/categories/">Categories</a></li>
            <li><a href="/archive/">Archive</a></li>
            <li><a href="/math/">Math</a></li>
            <li><a href="/subscribe/">Subscribe</a></li>
      </ul>
     <!--  <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul> -->
    </div>
  </div>
</nav>