 <nav class="navbar navbar-inverse" style = "color: #D69F26;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Machine Learning cơ bản</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li sylte = "color: #DAD268;"><a href="/about/" >About</a></li>
        <li><a href="/index/">Index</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/categories/">Categories</a></li>
        <li><a href="/archive/">Archive</a></li>
        <li><a href="/math/">Math</a></li>
        <!-- <li><a href="/subscribe/">Subscribe</a></li> -->
        <li> 
      </ul>
    </div>
  </div>
</nav>