$font-size-base: 17px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;
$code-color: rgb(150,150,150);
/*$myblue: rgb(1, 75, 129);*/
$myblue: #074B80;
/*$myyellow: #D69F26;*/
/*$myyellow: #DAD268;*/
$myyellow: #fff;

@import "bootstrap/variables";
