---
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include facebookpage.html %}
    <br>
    <div class="container">
      	<div class="row">
	        <div class="col-md-2 hidden-xs hidden-sm">
	          	{% include sidebar.html %}
		       
	        </div>
	        <div class="col-md-8 col-xs-12" style = "z-index: 1">
	        	{% include topbar.html %}

	            {{ content }}
	        </div>
	        <div class="col-md-2 hidden-xs hidden-sm">
	        	{% include sidebar_right.html %}
	        <!-- <img style = "transform: scaleX(1); width:250%; margin-left:-100px;" src = "/images/dao.jpg"> -->
	        <!-- <a href ="https://www.facebook.com/masspvn/?fref=nf&pnref=story">MaSSP</a> -->
	        </div>
      	</div>
    </div>
</body>

</html>
