---
layout: default
---
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
  <header>    
  <!-- title -->
     <p style = "font-size: 35px; font-weight: 300; color: #3C5B9B; text-align: left">{{ page.title }}</p>
  <!-- title -->

  <!-- tags -->
  {% if page.tags%} 
    <span style = "text-align: left">
   {% for tag in page.tags %}
      <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}
    </span>
  {% endif %}
  <!-- tags -->
  <!-- date -->
   <p class="meta" style = "color: #9C848C">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} 
  </p>
  <!-- date -->
  </header>

<div class="post">
  <article class="post-content">
  {{ content }}
  </article>

  <!-- mathjax -->
  <!-- {% if page.mathjax %} -->
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <!-- {% endif %} -->
  
  <hr>
  {% include share-page.html %}


  <!-- previous and next posts -->
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>


  <!-- disqus comments -->
<!-- {% if site.disqus_shortname %} -->
  {% include disqus_comments.html %}
<!-- {% endif %} -->

</div>

